    <style>
body {
  background-color: grey;
  height: 100vh;
  margin: 5;
}
h1{
  font-family: Footlight MT Light;
  text-align: center;
}
.page-footer{
  background-color:black;
  padding: 20px;
  color:grey;
}
</style>